.App {
  text-align: center;
}
/* ===============for registration from================== */
.topContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.inputOption{
  width: 40vw;
  height: 35px;
  margin: 2px;
  border: none;
  background-color: rgb(234, 234, 240);
  border-radius: 4px;
  padding-left: 12px;
  font-size: 1rem;
}
.inputBtn{
  width: 500px;
    height: 40px;
    background-color:rgb(65, 65, 237);
    color: white;
    width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
      border-radius: 4px;
    
}
/* ===============End of for registration from================== */